<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IPhoto</title>
    <link rel="shortcut icon" href="~/image/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fontawesome.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light fixed-top bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/image/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" draggable="false">
                    IPhoto
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="navbar-nav flex-grow-1">
                        <form id="nav-search" class="form-inline my-2 my-lg-0" style="display: none">
                            <input class="form-control mr-sm-2" type="search" placeholder="搜索图片" aria-label="Search" style="width: 250px;">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </form>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="margin-top: 80px;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - IPhoto@* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-fileinput/5.1.5/content/Scripts/fileinput.js"></script>
    <script src="~/lib/bootstrap-fileinput/5.1.5/content/Scripts/locales/zh.js"></script>
    <script src="~/js/masonry.js"></script>
    <script src="~/js/imagesloaded.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        var $grid = $('.grid').masonry({
            itemSelector: '.grid-item',
            percentPosition: true,
            columnWidth: '.grid-sizer'
        });
        // layout Masonry after each image loads
        $grid.imagesLoaded().progress(function () {
            $grid.masonry();
        });
        $("#Fileinput").fileinput({
            language: 'zh',　　　　　　　　//使用中文
            theme: 'fa',
            uploadUrl: '@Url.Action("Upload", "File")',   //服务器url调用路径
            showUpload: true, //显示批量上传按钮
            showCaption: false,//是否显示标题
            showClose: false,
            showRemove: false,

            browseClass: "btn btn-primary", //按钮样式
            dropZoneEnabled: true,//是否显示拖拽区域
            overwriteInitial: false,
            maxFileSize: 102400,　　　　　　　　　　　　　　　　　　　　//文件最大尺寸
            maxFileNum: 1,　　　　　　　　　　　　　　　　　　　　　　//文件最大数量
            enctype: 'multipart/form-data',
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            },
            layoutTemplates: {
                actionDelete: '',
                actionUpload: ''
            }
        }).on("fileuploaded", function (event, data) {
            if (data.response.code == 200) {
                $("#FileId").attr("value", data.response.data);
            }
        });
        $("#Headinput").fileinput({
            language: 'zh',　　　　　　　　//使用中文
            theme: 'fa',
            uploadUrl: '@Url.Action("UploadHeadPhoto", "File")',   //服务器url调用路径
            showUpload: false, //显示批量上传按钮
            showCaption: false,//是否显示标题
            showClose: false,
            showRemove: false,

            browseClass: "btn btn-primary", //按钮样式
            dropZoneEnabled: false,//是否显示拖拽区域
            overwriteInitial: false,
            maxFileSize: 102400,　　　　　　　　　　　　　　　　　　　　//文件最大尺寸
            maxFileNum: 1,　　　　　　　　　　　　　　　　　　　　　　//文件最大数量
            enctype: 'multipart/form-data',
            slugCallback: function (filename) {
                return filename.replace('(', '_').replace(']', '_');
            },
            layoutTemplates: {
                actionDelete: '',
                actionUpload: ''
            }
        }).on('filebatchselected', function (event, files) {//选中文件事件
            $(this).fileinput("upload");
        }).on("fileuploaded", function (event, data) {
            if (data.response.code == 200) {
                window.location.href = "/Identity/Account/Manage";
            }
        });
        $('#Fileinput').on('filedeleted', function (event, id) {
            console.log(data);
            $("#FileId").attr("value", "");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
