@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="rounded-circle" src="https://thirdwx.qlogo.cn/mmopen/vi_32/FrAfaQn9DMaicrITAMbT7Bl9aZ8pKtOYIB0HCkRDdPozBY7ATetpUXw0RG31QIg6ahaXON71sYsia4fHt0hsL7mw/132" style="width: 40px" draggable="false">
                @UserManager.GetUserName(User)
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <a id="manage" class="nav-link text-dark dropdown-item btn ml-2" asp-area="" asp-controller="User" asp-action="Index" title="个人中心">个人中心</a>
                <a id="manage" class="nav-link text-dark dropdown-item btn ml-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="账号管理">账号管理</a>
                <div class="dropdown-divider"></div>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link text-dark dropdown-item btn btn-link text-dark ml-2">退出</button>
                </form>
            </div>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">注册</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">登录</a>
    </li>
}
</ul>
