@using Microsoft.AspNetCore.Identity
@using IPhoto.Services.Impl

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject FileService fileService

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @if (fileService.GetHeadPhotoByUserId(UserManager.GetUserId(User)).Result != null)
                {
                    <img class="rounded-circle" src="@fileService.GetHeadPhotoByUserId(UserManager.GetUserId(User)).Result.Path" style="width: 40px" draggable="false">
                }
                @UserManager.GetUserName(User)
            </button>
            <div class="dropdown-menu pl-1 pr-2" aria-labelledby="dropdownMenu2">
                <a id="manage" class="nav-link text-dark dropdown-item btn btn-link ml-1 pl-1" asp-area="" asp-controller="User" asp-action="Index" title="个人中心">个人中心</a>
                <a id="manage" class="nav-link text-dark dropdown-item btn btn-link ml-1 pl-1" asp-area="Identity" asp-page="/Account/Manage/Index" title="账号管理">账号管理</a>
                <div class="dropdown-divider"></div>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link text-dark dropdown-item btn btn-link text-dark ml-1 pl-1">退出</button>
                </form>
            </div>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">注册</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">登录</a>
    </li>
}
</ul>
